
@mixin fontSize($size) {
    font-size: $size; 
    font-size: ($size / 16px) * 1rem;
  }


// ** Responsive ** //

// variables:
$breakpoint-xs: 376px;
$breakpoint-xs2: 600px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }

//max-width

  @else if $media == xs-max {
    @media (max-width: $breakpoint-xs) { @content; }
  }
  @else if $media == xs2-max {
    @media (max-width: $breakpoint-xs2) { @content; }
  }
  @else if $media == sm-max {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == md-max {
    @media (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == lg-max {
    @media (max-width: $breakpoint-lg) { @content; }
  }
}
